/* Container */
.container {
  display:grid;
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Background Image */
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(/public/img/Login.jpg) no-repeat;
  background-size: 1000px;
  background-position: -170px center;
  z-index: -1;
  background-color: #272525;
  padding-left: 1000px;
}

/* Form Section */
.form-section {
  position: relative;
  width: 90%;
  padding: 30px;
  background: url('/public/img/Login.jpg') no-repeat;
  background-size: 650px;
  background-position: 40px center;
  background-color: #503f39;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

.login-title {
  font-size: 40px;
  margin-bottom: 40px;
  margin-left: 750px;
}

.input-label {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 750px;
}

.input-box {
  width: 34%;
  height: 30px;
  background: #d9d9d9;
  border: none;
  border-radius: 3px;
  margin-bottom: 17px;
  padding: 0 10px;
  font-size: 18px;
  margin-left: 750px;
}

.login-btn {
  width: 34%;
  height: 30px;
  background: #fdeacc;
  border: none;
  border-radius: 27px;
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 750px;
}

.forgot-password {
  font-size: 15px;
  margin-bottom: 50px;
  color: white;
  margin-left: auto;
}

.register-link {
  font-size: 15px;
  color: white;
  margin-left: 850px;
}

.register-link a {
  color: #fdeacc;
  text-decoration: none;
}

/* Image Section */
.image-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content:left;
}

.side-image {
  width: 20%;
  height: auto;
  border-radius: 50px;
  padding: 10px;
  background-color: #000;
  
}
